<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% endblock stylesheets %}
    </head>
    <body>
        {% block body %}
            {% block header %}{% endblock header %}
            {% block main %}{% endblock main %}
            {% block footer %}{% endblock footer %}
            {% block javascripts %}{% endblock %}
        {% endblock body %}
    </body>
</html>
