{% extends "AppBundle::base.html.twig" %}

{% block header %}
    <header>
        <div class="container">
            <div class="logo">
                <a href="{{ path('posts_list') }}">
                    <img src="{{ asset('img/logo.svg') }}" alt="">
                </a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="{{ path('posts_list') }}">Blog</a>
                    </li>
                    <li>
                        <a href="{{ path('author_list') }}">Authors</a>
                    </li>

                </ul>
            </nav>
        </div>
    </header>
{% endblock header %}

{% block footer %}
    <footer>
        <div class="copyright">
            <span>&copy zazanik inc</span>
        </div>
    </footer>
{% endblock footer %}