{% extends 'base.html.twig' %}

{% block body %}
    <body class="page page-id-89 page-template page-template-temp page-template-blog page-template-tempblog-php">

    <header>
        <nav>
            <div class="menu-menu-1-container">
                <ul id="menu-menu-1" class="menu">
                    <li id="menu-item-103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-103">
                        <a href="http://record-roots.com/">Home</a>
                    </li>
                    <li id="menu-item-93" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-89 current_page_item menu-item-93">
                        <a href="http://record-roots.com/blog/">Blog</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="blog">
        <!--  header  -->
        <div class="header">
            <div class="logo">
                <a href="http://record-roots.com"><img src="http://record-roots.com/wp-content/themes/RecordRoots/img/logo1.png" alt="logo"></a>
            </div>
        </div>
        <!--  /header  -->

        <!--  Blog posts  -->
        <div class="container">
            <div class="row relative">
                <div class="blog-posts col-xs-12 col-sm-12 col-md-8">
                    <h2 class="h2">Blog</h2>


                    <div class="post-single">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <a href="http://record-roots.com/press-your-ashes-into-vinyl-when-you-die/"><img width="1920" height="814" src="http://record-roots.com/wp-content/uploads/2016/11/2016-11-19-2.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="2016-11-19-2" srcset="http://record-roots.com/wp-content/uploads/2016/11/2016-11-19-2.jpg 1920w, http://record-roots.com/wp-content/uploads/2016/11/2016-11-19-2-768x326.jpg 768w, http://record-roots.com/wp-content/uploads/2016/11/2016-11-19-2-1024x434.jpg 1024w" sizes="(max-width: 1920px) 100vw, 1920px" /></a>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <h3><a href="http://record-roots.com/press-your-ashes-into-vinyl-when-you-die/">Press your ashes into vinyl when you die.</a></h3>
                                <div class="text">
                                    <p>Scattering ashes can provide closure to relatives when someone dies. Jason Leach wanted people to be able to be able remember loved ones in another way; by pressing their ashes into a vinyl.  &nbsp; &#8220;Live on beyond the groove&#8221; is the slogan of Andvinyly which allows you turn your deceased loved ones ashes into vinyl. Film maker<a class="moretag" href="http://record-roots.com/press-your-ashes-into-vinyl-when-you-die/"> &#8230;CONTINUE READING</a></p>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="post-single">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <a href="http://record-roots.com/this-record-player-is-entirely-powered-by-wind/"><img width="1000" height="750" src="http://record-roots.com/wp-content/uploads/2016/11/windrecordplayer.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="windrecordplayer" srcset="http://record-roots.com/wp-content/uploads/2016/11/windrecordplayer.jpg 1000w, http://record-roots.com/wp-content/uploads/2016/11/windrecordplayer-768x576.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px" /></a>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <h3><a href="http://record-roots.com/this-record-player-is-entirely-powered-by-wind/">This record player is entirely powered by wind!</a></h3>
                                <div class="text">
                                    <p>Worried about the state of the world? Worried about what&#8217;s going to happen when the electricity runs out? Vinyl lovers can relax knowing that they&#8217;ll still be able to listen to vinyl. &nbsp; Photograph by Brian Klutch &#8211; Popular Science &nbsp; There are many reasons to listen to vinyl over digital music. One the main<a class="moretag" href="http://record-roots.com/this-record-player-is-entirely-powered-by-wind/"> &#8230;CONTINUE READING</a></p>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="post-single">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <a href="http://record-roots.com/leonard-cohen-1934-2016/"><img width="3017" height="2006" src="http://record-roots.com/wp-content/uploads/2016/11/LeonardCohen.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="leonardcohen" srcset="http://record-roots.com/wp-content/uploads/2016/11/LeonardCohen.jpg 3017w, http://record-roots.com/wp-content/uploads/2016/11/LeonardCohen-768x511.jpg 768w, http://record-roots.com/wp-content/uploads/2016/11/LeonardCohen-1024x681.jpg 1024w, http://record-roots.com/wp-content/uploads/2016/11/LeonardCohen-375x250.jpg 375w" sizes="(max-width: 3017px) 100vw, 3017px" /></a>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <h3><a href="http://record-roots.com/leonard-cohen-1934-2016/">Leonard Cohen 1934 &#8211; 2016</a></h3>
                                <div class="text">
                                    <p>&nbsp; It has been announced on his official facebook page that Leonard Cohen has died at the age of 82. &#8220;It is with profound sorrow we report that legendary poet, songwriter and artist, Leonard Cohen has passed away. We have lost one of music’s most revered and prolific visionaries. A memorial will take place in Los Angeles<a class="moretag" href="http://record-roots.com/leonard-cohen-1934-2016/"> &#8230;CONTINUE READING</a></p>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="post-single">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <a href="http://record-roots.com/retracing-reggae-record-sleeves-photographed-in-london/"><img width="1000" height="667" src="http://record-roots.com/wp-content/uploads/2016/11/Cockney_0030640.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="cockney_0030640" srcset="http://record-roots.com/wp-content/uploads/2016/11/Cockney_0030640.jpg 1000w, http://record-roots.com/wp-content/uploads/2016/11/Cockney_0030640-768x512.jpg 768w, http://record-roots.com/wp-content/uploads/2016/11/Cockney_0030640-375x250.jpg 375w" sizes="(max-width: 1000px) 100vw, 1000px" /></a>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <h3><a href="http://record-roots.com/retracing-reggae-record-sleeves-photographed-in-london/">Retracing Reggae Record Sleeves Photographed in London</a></h3>
                                <div class="text">
                                    <p>Photographer and vinyl enthusiast, Alex Bartsch, embarked on a project to find reggae record covers photographed in London, find their original locations and rephotograph them in situ. It’s a project which has taken him over two years. The culmination of his work is a photo book which he’s launching on Kickstarter. Moodie &#8211; London N17<a class="moretag" href="http://record-roots.com/retracing-reggae-record-sleeves-photographed-in-london/"> &#8230;CONTINUE READING</a></p>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="post-single">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <a href="http://record-roots.com/lidl-is-selling-record-players/"><img width="1280" height="703" src="http://record-roots.com/wp-content/uploads/2016/10/1908_1_Lidl-Wincanton.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="1908_1_lidl-wincanton" srcset="http://record-roots.com/wp-content/uploads/2016/10/1908_1_Lidl-Wincanton.jpg 1280w, http://record-roots.com/wp-content/uploads/2016/10/1908_1_Lidl-Wincanton-768x422.jpg 768w, http://record-roots.com/wp-content/uploads/2016/10/1908_1_Lidl-Wincanton-1024x562.jpg 1024w" sizes="(max-width: 1280px) 100vw, 1280px" /></a>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <h3><a href="http://record-roots.com/lidl-is-selling-record-players/">Lidl is selling record players.</a></h3>
                                <div class="text">
                                    <p>This may come as a surprise to some. Not to others: Lidl is stocking turntables. &nbsp; I&#8217;ve never really understood Lidl&#8217;s marketing plan. In the middle aisles of the German supermarket chain you can usually find weird, cheap stuff in amongst the tinned vegetables and bacon. Who even impulse buys a leaf blower?! This week<a class="moretag" href="http://record-roots.com/lidl-is-selling-record-players/"> &#8230;CONTINUE READING</a></p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="post-single">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <a href="http://record-roots.com/album-art-was-designed-to-be-seen/"><img width="2998" height="2293" src="http://record-roots.com/wp-content/uploads/2016/10/DSCF7034i.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="dscf7034i" srcset="http://record-roots.com/wp-content/uploads/2016/10/DSCF7034i.jpg 2998w, http://record-roots.com/wp-content/uploads/2016/10/DSCF7034i-300x229.jpg 300w, http://record-roots.com/wp-content/uploads/2016/10/DSCF7034i-768x587.jpg 768w, http://record-roots.com/wp-content/uploads/2016/10/DSCF7034i-1024x783.jpg 1024w" sizes="(max-width: 2998px) 100vw, 2998px" /></a>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <h3><a href="http://record-roots.com/album-art-was-designed-to-be-seen/">Album art was designed to be seen.</a></h3>
                                <div class="text">
                                    <p>February &#8217;16: I moved into a new flat in Edinburgh. We were really chuffed with the flat but it was lacking decorations and character. I’ve been collecting vinyl for around 5 years and have, for much of that time wanted to utilise the artwork on the cover as a decoration. With lots of free time<a class="moretag" href="http://record-roots.com/album-art-was-designed-to-be-seen/"> &#8230;CONTINUE READING</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pagination"></div>
                </div>

                <!-- Sidebar -->
                <div class="static col-xs-12 col-sm-12 col-md-4">
                    <div class="sidebar">

                    </div>
                </div>
                <!-- /Sidebar -->
            </div>
        </div>
        <!--  /Blog posts  -->



    </main>

    <footer>

    </footer>
{% endblock body %}